*.iml
.gradle
/local.properties
/.idea
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/planningMode.xml
.idea/studiobot.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin/
local.properties
secrets.properties
docs/